body {
    width: 100vw;
    overflow-x: hidden;
}

h1,
h2 {
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: 3rem;

    @media only screen and (max-width: 700px) {
        margin-bottom: 0;
    }
}

h2 {
    @media only screen and (max-width: 700px) {
        width: 100%;
        padding: 0 4rem;
    }
}

p {
    width: 86rem;
    margin-bottom: 6rem;
    text-align: center;

    @media only screen and (max-width: 800px) {
        width: 100%;
        padding: 4rem;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
    background: url(../img/bg-header-desktop.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;

    @media only screen and (max-width: 800px) {
        padding: 10rem 0;
        background: url(../img/bg-header-mobile.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
    }

    svg {
        margin: 6rem 0;
    }

    h1 {
        padding: 0 4rem;
    }

    &__buttons {
        @media only screen and (max-width: 800px) {
            display: flex;
            flex-direction: column;
        }
    }
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0;
}

.feature-1 {
    padding-bottom: 5rem;

    @media only screen and (max-width: 1024px) {
        padding-top: 8rem;
        margin: 0;
    }

    &__body {
        display: flex;
        width: 100%;
        padding: 4rem;

        @media only screen and (max-width: 800px) {
            flex-direction: column;
            align-items: center;
        }

        &__image {
            display: flex;
            justify-content: flex-end;
            width: 50%;

            @media only screen and (max-width: 800px) {
                justify-content: center;
                width: 100%;
            }

            img {
                object-fit: cover;
                object-position: right top;

                @media only screen and (max-width: 800px) {
                    object-position: 50% 50%;
                    width: 85%;
                }
            }
        }

        &__features {
            width: 50%;
            padding: 14rem;

            @media only screen and (max-width: 1024px) {
                padding-right: 6rem;
            }

            @media only screen and (max-width: 800px) {
                width: 90%;
                padding: 0;
                padding-top: 10rem;
                padding-bottom: 0;
            }

            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                list-style: none;

                li {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    @media only screen and (max-width: 800px) {
                        align-items: center;
                    }

                    h3 {
                        margin-bottom: 1.5rem;
                    }

                    p {
                        text-align: left;
                        width: 42rem;

                        @media only screen and (max-width: 1024px) {
                            width: 100%;
                        }

                        @media only screen and (max-width: 800px) {
                            padding: 0;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

.feature-2 {
    padding-bottom: 0;

    @media only screen and (max-width: 800px) {
        padding-top: 6rem;
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 5rem;

        img {
            @media only screen and (max-width: 1200px) {
                height: auto;
                width: 75%;
            }
        }
    }
}

.feature-3 {
    @media only screen and (max-width: 800px) {
        padding-top: 12rem;
        padding-bottom: 8rem;
    }

    &__body {
        display: flex;
        align-items: baseline;
        padding: 2rem;

        @media only screen and (max-width: 800px) {
            flex-direction: column;
            align-items: center;
        }

        &__feature {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2rem;

            @media only screen and (max-width: 800px) {
                width: 85%;
                margin-bottom: 8rem;
            }

            svg {
                margin-bottom: 6rem;

                @media only screen and (max-width: 800px) {
                    margin-bottom: 4rem;
                }
            }

            h3 {
                margin-bottom: 3rem;
            }

            p {
                width: 42rem;

                @media only screen and (max-width: 1200px) {
                    width: 95%;
                }

                @media only screen and (max-width: 800px) {
                    padding: 0;
                margin-bottom: 0;

                }
            }
        }
    }
}

.logos {
    display: flex;
    justify-content: center;

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        list-style: none;

        @media only screen and (max-width: 800px) {
            flex-flow: column wrap;
        }

        li {
            @media only screen and (max-width: 800px) {
                margin-bottom: 10rem;
            }

            img {
                @media only screen and (max-width: 1200px) {
                    height: 4rem;
                }

                @media only screen and (max-width: 800px) {
                    height: 6rem;
                }
            }
        }
    }
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20rem 0;

    @media only screen and (max-width: 800px) {
        margin-top: 10rem;
    }

    &__buttons {
        @media only screen and (max-width: 800px) {
            display: flex;
            flex-direction: column;
        }
    }
}

.footer {
    display: flex;
    height: 12rem;
    margin-bottom: 4rem;

    @media only screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
        margin-bottom: 0;
    }

    &__logo {
        flex: 1;
        display: flex;
        justify-content: center;

        @media only screen and (max-width: 800px) {
            margin-bottom: 6rem;
        }

        svg {
            height: 8rem;
        }
    }

    &__navigation {
        flex: 2;

        @media only screen and (max-width: 800px) {
            margin-bottom: 6rem;
        }

        ul {
            display: flex;
            flex-flow: column wrap;
            height: 100%;
            width: 80%;
            list-style: none;

            @media only screen and (max-width: 1200px) {
                width: 100%;
            }

            @media only screen and (max-width: 800px) {
                align-items: center;
            }

            li {
                margin-bottom: 2rem;
                transition: all .2s;

                a {

                    &:hover {
                        color: var(--color-greyish-blue);
                    }
                }

                &:hover {
                    transform: translateY(-.25rem);
                }
            }
        }
    }

    &__social {
        flex: 1;

        @media only screen and (max-width: 800px) {
            margin-bottom: 6rem;
        }

        ul {
            display: flex;
            align-items: center;
            list-style: none;

            li {
                &:hover {
                    cursor: pointer;
                }

                &:hover svg * {
                    fill: var(--color-greyish-blue);
                }

                &:not(:last-child) {
                    margin-right: 4rem;
                }
            }
        }
    }
}

.attribution {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 4rem;
    color: var(--color-dark-greyish-blue);
    font-size: 11px;

    a { 
        margin-left: 5px;
        color: var(--color-light-blue); 
    }
}